body{
margin: 0;
}

.navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-top: 32px;
 padding-left: 140px;
 padding-right: 140px;
}

span{
color: #7368FE;
}

.left{
display: flex;
align-items: center;
gap: 80px;
}
ul{
display: flex;
gap: 30px;
list-style: none;
}

li{
    color:  #5E5D76;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

a:hover{
color: #7368FE;

}

a{
text-decoration:none;
}

button{
padding-top: 16px;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 16px;
border: none;
background-color: #7368FE;
}

button:hover{
border-radius: 50%;
}