.btn1{
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  background: red;
  color: black;
  font-weight: 600;
}

.btn1:hover{
  background: black;
  color: aliceblue;
}

.active:active{
   color: red;
}